<template name="featuredQuizzes">
  <div class="row">
    <div class="col-md-4 col-center">
      <label>Click on a quiz to toggle if it is featured.</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label>Non featured quizzes</label>
      <div class="list-group">
        {{#each nonFeatured}}
        <a href="#" class="list-group-item non-featured-quiz">{{name}}</a>
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
      <label>Featured quizzes</label>
      <div class="list-group">
        {{#each featured}}
        <a href="#" class="list-group-item featured-quiz">{{name}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</template>
