<template name="quizes">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="list-group" style="margin-top:2em;">
      {{#each quizes}}
        <a href="/q/{{slug}}" class="list-group-item" {{textColor}}>
          <h1 style="background-image:url({{image}}); background-size:cover; height:10em; style=margin:0;">
            <div style="padding: 1em;">
              {{name}}
            </div>
          </h1>
        </a>
      {{/each}}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</template>
