<head>
  <title>Quizzer Home</title>
</head>

<body>
</body>

<template name="layout">
  <!-- <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1388848514756226&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->

   <div id="main-container">
    {{> yield}}
   </div>
</template>

<template name="loading">
</template>
